.app {
    position: relative;
}

/* All the animations */
.scale-on-hover {
    transition: transform 0.2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.1);
}

.underline-on-hover {
    position: relative;
}

.underline-on-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-primary));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-on-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}