.app {
    position: relative;

    height: 100%;
}

.app::before {
    content: "";
    display: block;
    position: absolute;

    z-index: 3;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    min-height: 100%;

    opacity: 0.7;

    background-image: url(../assets/front-page-bg.png);
}

.content {
    position: relative;
    z-index: 3;

    color: rgb(var(--text-secondary))
}

.special-highlight {
    font-weight: 500;
    color: transparent;
    background: linear-gradient(to right, #38bdf8, #c084fc);

    background-clip: text;
    -webkit-background-clip: text;
}

.special-background {
    display: inline-block;

    background-color: var(--background-color);

    padding: 0 5px;
    margin: 10px 0;

    border-radius: 10px;
}

/* All the animations */
.scale-on-hover {
    transition: transform 0.2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.1);
}

.underline-on-hover {
    position: relative;
}

.underline-on-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-primary));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-on-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hidden {
    opacity: 0;
}

.fade-from-left {
    animation: fade-from-left 1s var(--animation-function) forwards;
}

.fade-from-right {
    animation: fade-from-right 1s var(--animation-function) forwards;
}

@keyframes fade-from-left {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-from-right {
    0% {
        opacity: 0;
        transform: translateX(600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}