.induvidualized-learning-section {
    display: flex;

    margin-top: 100px;
}

.induvidual-image-container {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.induvidual-image {
    flex: 1;

    max-width: 150px;
    aspect-ratio: 1 / 1;

    filter: invert(0.9);
}

.induvidual-content {
    flex: 1;
    text-align: right;
}

.induvidual-description {
    width: 40%;
    margin: 0 10px;

    font-size: 1.5rem;
    text-align: right;

    width: 100%;
}

.induvidual-special-background {
    display: inline-block;

    background-color: rgb(var(--color-tertiary));

    padding: 0 5px;
    margin: 10px 0;

    border-radius: 10px;
}