.join-button {
    padding: 1rem 2rem;

    border: none;
    border-radius: 10px;
    background-color: rgb(var(--text-primary));

    color: rgb(var(--text-secondary));
    font-size: 1.5rem;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 0 30px 0 rgb(14, 162, 230);

    position: absolute;
    bottom: clamp(10px, 10%, 20px);

    transition: all .3s ease;
    transition: background-color .5s ease;
}

.join-button:hover {
    box-shadow: 0 0 50px 0 rgb(14, 162, 230);
    background-color: whitesmoke;
    color: black;
}