.join-button {
    padding: 1rem 2rem;

    border: none;
    border-radius: 10px;
    background-color: rgb(var(--text-primary));

    color: rgb(var(--text-secondary));
    font-size: 1.5rem;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 0 30px 0 rgb(230, 180, 14);

    position: static;

    bottom: 10%;
    transition: background-color 1s ease-out 100ms;
    transition: box-shadow .5s ease-out 50ms;
    transition: color .5s ease-out 50ms;

}
.join-button:hover {
        box-shadow: 0 0 100px 0 rgb(9, 131, 197);
        color: rgb(0,0,0,0);
        background-color: rgb(255,255,255);

    }