.join-button {
    padding: 1rem 2rem;

    border: none;
    border-radius: 10px;
    background-color: rgb(var(--text-primary));

    color: rgb(var(--text-secondary));
    font-size: 1.5rem;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 0 30px 0 rgb(var(--color-secondary));

    position: static;

    bottom: 10%;
    transition: background-color 1s ease-out 100ms;
    transition: box-shadow 1.5s ease-out 100ms;

}
.join-button:hover {
        box-shadow: 0 0 50px 0 rgb(linear-gradient(to right, #1b9ed5, #450486));
    }