.join-button {
    padding: 1rem 2rem;

    border: none;
    border-radius: 10px;
    background-color: rgb(var(--text-primary));

    color: rgb(var(--text-secondary));
    font-size: 1.5rem;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 0 30px 0 rgb(14, 162, 230);

    position: static;

    bottom: 10%;
    transition: all .3s ease ;
}
.join-button:hover {
        color: black;
        background-color: whitesmoke;
        box-shadow: 0 0 100px 0 rgb(14, 162, 230);
    }