:root {
  /* Convert each hex value to rgb */
  --text-primary: 28, 28, 28;
  --accent-primary: 61, 90, 128;
  --accent-secondary: 255, 209, 102;
  --accent-tertiary: 238, 108, 77;
  --background-primary: 238, 238, 238;
  --background-secondary: 41, 50, 65;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--background-primary));
  color: rgba(var(--text-primary), 0.87);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  min-height: 100vh;
}